@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Poppins:300|Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #EFF0F3;
  background: #0A0B0D;
  padding: 30px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header {
  display: flex;
  justify-content: space-between; }
  .header .logo-box {
    animation: moveInFromLeft 1s ease-in-out; }
  .header .logo {
    height: 30px; }
  .header .search {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveInFromRight 1s ease-in-out; }
    .header .search__input {
      font-family: inherit;
      font-size: inherit;
      color: #EFF0F3;
      padding: 5px 10px;
      border: none;
      background: inherit;
      display: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
      margin-right: -30px; }
      .header .search__input:hover {
        border-bottom: 1px solid #EFF0F3;
        outline: none;
        display: inline-block;
        opacity: 1; }
      .header .search__input:focus {
        outline: none;
        display: inline-block;
        border-bottom: 1px solid #EFF0F3;
        opacity: 1; }
    .header .search__button {
      border: none;
      background: inherit; }
      .header .search__button:focus {
        outline: none; }
      .header .search__button:active {
        transform: translateY(4px); }
    .header .search__icon {
      height: 25px;
      width: 25px;
      cursor: pointer; }
      .header .search__icon:active {
        transform: translateY(4px); }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: hidden;
  animation: animateOpacity 0.5s ease .9s forwards; }
  .text-box .heading-primary {
    font-size: 50px;
    font-family: 'Questrial', sans-serif;
    line-height: 35px;
    letter-spacing: 0.02em; }
  .text-box .horizontal-rule {
    margin-top: 60px;
    margin-left: -10%;
    width: 120%;
    height: 5px;
    background: #4d4d4d; }
    .text-box .horizontal-rule span {
      display: inherit;
      background: #EFF0F3;
      height: 100%;
      animation: animateRule 1.5s ease-in 1s; }

.footer {
  display: flex;
  justify-content: space-between; }
  .footer .date-stamp {
    animation: moveInFromLeft 1s ease-in-out; }
  .footer .city {
    display: flex; }
    .footer .city__location {
      margin-right: 30px;
      animation: moveInFromRight 1s ease-in-out; }
    .footer .city__location--change-button:link, .footer .city__location--change-button:visited {
      font-size: 12px;
      padding: 7px 20px;
      background: inherit;
      color: #EFF0F3;
      outline: none;
      border: 1px solid #EFF0F3;
      cursor: pointer;
      text-decoration: none;
      animation: moveInFromRight 1s ease-in-out; }
    .footer .city__location--change-button:hover {
      background: #EFF0F3;
      color: #0A0B0D;
      font-weight: bold; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    height: 400px;
    width: 30%;
    background: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #0A0B0D;
    border-radius: 15px;
    padding: 30px 50px 50px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s; }
  .popup__header {
    font-size: 30px;
    font-weight: bold; }
  .popup__body input {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    margin: 40px 0;
    outline: none; }
    .popup__body input::-webkit-input-placeholder {
      font-size: 14px;
      color: #A3A3A3; }
    .popup__body input:focus {
      border-color: #012546; }
  .popup__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px; }
  .popup__button {
    padding: 10px 35px;
    color: #EFF0F3;
    background: #0A0B0D;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all .2s; }
    .popup__button:active {
      background: #4d5463;
      transform: scale(1.1); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: inherit;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #fff;
    background: #4d4d4d;
    padding: 2px 6px; }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes animateRule {
  0% {
    width: 0%;
    opacity: 0; }
  100% {
    width: 100%;
    opacity: 1; } }

@keyframes animateOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#rainy-weather-card, #cloudy-weather-card, #sunny-weather-card {
  display: none; }

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: -30px -50px;
  background: url(../img/transparent-rain-gif.gif), url(../img/rain-gif.gif), url(../img/rain-cloud-hd.png);
  background-size: cover;
  background-position: bottom;
  overflow: hidden; }
  .container .first-column {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .container .first-column .header {
      display: flex;
      justify-content: space-between;
      padding: 30px 50px 30px 70px; }
      .container .first-column .header .logo-box {
        animation: moveInFromLeft 1s ease-in-out; }
      .container .first-column .header .logo {
        height: 30px; }
      .container .first-column .header .search {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: moveInFromRight 1s ease-in-out; }
        .container .first-column .header .search__input {
          font-family: inherit;
          font-size: inherit;
          color: #EFF0F3;
          padding: 5px 10px;
          border: none;
          background: inherit;
          display: hidden;
          opacity: 0;
          transition: all .5s ease-in-out;
          margin-right: -30px; }
          .container .first-column .header .search__input:hover {
            border-bottom: 1px solid #EFF0F3;
            outline: none;
            display: inline-block;
            opacity: 1; }
          .container .first-column .header .search__input:focus {
            outline: none;
            display: inline-block;
            border-bottom: 1px solid #EFF0F3;
            opacity: 1; }
          .container .first-column .header .search__input::-webkit-input-placeholder {
            color: #c7c7c7; }
        .container .first-column .header .search__button {
          border: none;
          background: inherit; }
          .container .first-column .header .search__button:focus {
            outline: none; }
          .container .first-column .header .search__button:active {
            transform: translateY(4px); }
        .container .first-column .header .search__icon {
          height: 25px;
          width: 25px;
          cursor: pointer; }
          .container .first-column .header .search__icon:active {
            transform: translateY(4px); }
  .container .second-column {
    background: #fff;
    width: 25%; }

.weather {
  padding: 0px 50px 30px 70px;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.28) 70%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: overlay;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: animateWidthAppearance 0.75s ease-in-out;
  width: 102%; }
  .weather__info {
    margin: 0px 20px 40px;
    margin-right: -50px;
    margin-left: -70px;
    padding-right: 50px;
    padding-left: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #A3A3A3; }
    .weather__info--temp {
      font-size: 130px;
      font-weight: bold;
      margin-right: 35px; }
      .weather__info--temp-deg {
        font-size: 50px;
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
        vertical-align: text-top; }
    .weather__info--temp + div {
      margin-bottom: -30px; }
    .weather__info--message {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.02em; }
    .weather__info--tip {
      color: #cecece;
      font-size: 20px;
      font-weight: lighter; }

#weather___footer {
  display: flex;
  justify-content: space-between; }
  #weather___footer .date-stamp {
    opacity: 0;
    animation: moveInFromLeft 1s ease-in-out 0.8s forwards; }
  #weather___footer .city {
    display: flex; }
    #weather___footer .city__location {
      margin-right: 30px;
      opacity: 0;
      animation: moveInFromRight 1s ease-in-out 0.8s forwards; }
    #weather___footer .city__location--change-button:link, #weather___footer .city__location--change-button:visited {
      font-size: 12px;
      padding: 7px 20px;
      background: inherit;
      color: #EFF0F3;
      outline: none;
      border: 1px solid #EFF0F3;
      text-decoration: none;
      cursor: pointer;
      opacity: 0;
      animation: moveInFromRight 1s ease-in-out 0.8s forwards; }
    #weather___footer .city__location--change-button:hover {
      background: #EFF0F3;
      color: #0A0B0D;
      font-weight: bold; }

.weather-card {
  z-index: 1;
  border-radius: 20px 0px 0px 20px;
  background: #EFF0F3;
  color: #5C5C63;
  animation: translateFromLeft 0.75s ease-in;
  overflow: hidden; }
  .weather-card > div {
    opacity: 0;
    margin: 65px 50px 70px 32px;
    animation: animateWidthAppearance 0.75s ease-in 0.75s forwards; }
  .weather-card > div:first-child {
    display: flex;
    justify-content: space-between; }
  .weather-card__loc {
    font-weight: bold;
    line-height: 30px; }
    .weather-card__loc-city {
      font-size: 30px;
      color: #004783; }
    .weather-card__loc-country {
      font-size: 18px;
      margin-left: 5px; }
  .weather-card__thumbnail {
    position: relative; }
    .weather-card__thumbnail img {
      position: relative;
      height: 80px;
      box-shadow: 0px 5px 12px rgba(123, 187, 238, 0.62); }
    .weather-card__thumbnail .weather__info--temp {
      color: #fff;
      position: absolute;
      font-size: 15px;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
      margin-left: 12px;
      margin-top: -40px;
      position: relative; }
      .weather-card__thumbnail .weather__info--temp-deg {
        font-size: 8px;
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
        vertical-align: super;
        position: absolute;
        top: -2px;
        left: 18px; }
  .weather-card__details {
    font-family: 'Nunito', sans-serif;
    border-top: 1px solid #CEC8C8;
    border-bottom: 1px solid #CEC8C8;
    padding: 35px 0; }
  .weather-card__header {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.02em;
    color: #004783; }
  .weather-card__stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px; }
    .weather-card__stats span {
      font-weight: bold; }

@keyframes translateFromLeft {
  from {
    width: 0%;
    opacity: 0; }
  to {
    width: 25%;
    opacity: 1; } }

@keyframes animateWidthAppearance {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

#cloudy-weather-card {
  background: url(../img/cloudy-weather.png);
  background-position: top; }

#sunny-weather-card {
  background: url(../img/sunny-weather.jpg);
  background-size: 130% 380%;
  background-position: bottom right; }
  #sunny-weather-card .header .search__input {
    color: #0A0B0D; }
    #sunny-weather-card .header .search__input:hover {
      border-bottom: 1px solid #83838C; }
  #sunny-weather-card .weather {
    background: linear-gradient(7.04deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.28) 40.2%, rgba(255, 255, 255, 0) 80%); }
