#sunny-weather-card{
    background: url(../img/sunny-weather.jpg);
    background-size: 130% 380%;
    background-position: bottom right;

    .header{ 
        .search{    
            &__input{
                color: #0A0B0D;               
    
                &:hover{ border-bottom: 1px solid #83838C; }
            }
        }
    }

    .weather{
        background: linear-gradient(7.04deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.28) 40.2%, rgba(255, 255, 255, 0) 80%);
    }
}